{% extends 'feed/base.html' %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2 class=" site-heading my-4 mt-3 text-white"> About Us </h2>
                    <h5 class="text-light">Welcome to the Chemistry Family of IIT Bombay &nbsp</h5>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h3>My Vision about this blog</h3>
        <p>Dearest Chemistry Family</p>
        <p>
        I write this message with conviction in the belief that “the future lying ahead of us requires 
        healthy collaborations” in order to succeed in our professional lives and elsewise as well. 
        I reckon most of us indeed have this realization.
        </p>
        <p>
        In the fast-moving world of Instagram stories, it’s hard to catch up with everyone and 
        often times we are not even aware of the expertise of our peers.
        </p>
        <p>
        It is with this thought I intend to work on this blog with the purpose to bring the student 
        community of the Chemistry Department, IIT Bombay on the same page about their whereabouts 
        in their professional lives. In addition to that this blog will contain course reviews, 
        project reviews, POR reviews, resources to help the student community.
        </p>
        <p>
        This space also intends to provide neutral space to students with an inclination in writing as well. 
        </p>
        <p>
        At last, I in hope that this blog brings like-minded people together and new “bonds” are
        formed eventually. 
        </p>
        <p>Harshvardhan Nigam</p>
        <p>Chief Editor</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}