{% extends 'feed/base.html' %} {% block content %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h2 class=" site-heading my-4 mt-3 text-white"> {{ object.course }} </h2>
                  <h4 class="text-light">
                    - 
                    <span class="badge badge-light">{{ object.submitter }}</span>
                    <span class="badge badge-light">{{ object.session }}</span>
                  </h4>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <p>
          <span class="font-weight-bold">Instructor: &nbsp;</span>
          {{ object.course_instructor }}
        </p>
        <p>
          <span class="font-weight-bold">Course Difficulty: &nbsp;</span>
          {{ object.course_difficulty|title }}
        </p>
        <p>
          <span class="font-weight-bold">Prerequisites: &nbsp;</span>
          {{ object.pre_requisites }}
        </p>
        <p>
          <span class="font-weight-bold">Assessment Methods: &nbsp;</span>
          {{ object.assesments_methods }}
        </p>
        <p>
          <span class="font-weight-bold">Topics covered: &nbsp;</span><br/>
          {{ object.topics_covered | safe }}
        </p>
        <p>
          <span class="font-weight-bold">Weightage</span><br/>
          {{ object.weightage | safe }}
        </p>
      </div>
    </div>
    {% block sidebar %} {% include 'feed/sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}