{% extends 'feed/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.course }} {% endblock title %}</h1>
        <p class=" text-muted">{{ object.submitter }} | {{ object.session }}</p>
        <p class="card-text ">{{ object.topics_covered | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'feed/sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}