{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">
            This is the blog of the Chemistry Department Student Family at the 
            Indian Institute of Technology, Bombay. The aim of this space is to 
            increase the bonding among our Junta, Gyan is shared for no good 
            reason, take it at your own risk. You've been warned.
        </p>
        <a href="{% url 'vision' %}"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}